@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.navbar__menu--links, .navbar__menu, .navbar__logo {
  display: flex;
  align-items: center;
}

.navbar {
  background: #f7f7f7;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2) !important;
  z-index: 10;
  position: relative !important;
}
.navbar__logo {
  color: #111;
  cursor: pointer;
  text-decoration: none !important;
  font-family: "Bree Serif", serif;
  font-size: 2rem;
  margin-left: 24px !important;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #111;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--links {
  font-weight: bold;
  color: #111;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar__menu--links:hover {
  color: #2541b2;
  transition: all 0.3s ease;
}
.navbar__menu #buttons {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #2541b2;
  margin-left: 16px;
  color: #f7f7f7;
}
.navbar__menu #buttons:hover {
  background: #111;
  transition: all 0.3s ease;
}

.footer {
  background-color: #111;
}
.footer__Container {
  width: 100%;
  padding: 70px 30px 20px;
}
.footer__socialIcons {
  display: flex;
  justify-content: center;
}
.footer__socialIcons a {
  text-decoration: none;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 50%;
}
.footer__socialIcons a, .footer i {
  font-size: 1.5em;
  color: #111;
  opacity: 0.9;
}
.footer__socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.footer__socialIcons a:hover i {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.footer__Nav {
  margin: 30px 0;
}
.footer__Nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer__Nav ul li a {
  color: rgb(255, 255, 255);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footer__Nav ul li a:hover {
  opacity: 1;
}
.footer__Bottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footer__Bottom p {
  color: #f7f7f7;
}
.footer .designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  .footer__Nav ul {
    flex-direction: column;
  }
  .footer__Nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumb Sans", sans-serif;
}

.seccion {
  background-color: rgb(255, 255, 255);
}
.seccion__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 98vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (max-width: 768px) {
  .seccion__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.seccion__container--left {
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .seccion__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 280px) {
  .seccion__container--left {
    line-height: 1.5;
  }
}
.seccion__container--left h1 {
  font-size: 4rem;
  color: #2541b2;
}
@media screen and (max-width: 280px) {
  .seccion__container--left h1 {
    font-size: 1.5rem;
  }
}
.seccion__container--left h4 {
  font-size: 3rem;
  color: #111;
}
@media screen and (max-width: 280px) {
  .seccion__container--left h4 {
    font-size: 2rem;
  }
}
.seccion__container--left p {
  font-size: 2rem;
  color: #111;
  margin-top: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 280px) {
  .seccion__container--left p {
    font-size: 1.5rem;
  }
}
.seccion__container--btn {
  font-size: 1rem;
  background-color: #2541b2;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}
.seccion__container--btn a {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  text-decoration: none;
  font-weight: bold;
}
.seccion__container--btn i {
  margin-right: 15px;
}
.seccion__container--btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #111;
  transition: all 0.3s;
  border-radius: 4px;
}
.seccion__container--btn:hover:after {
  width: 100%;
}
.seccion__container--right {
  text-align: center;
}
.seccion__container--img {
  height: 100%;
  width: 100%;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  border-bottom: 1px solid black;
}
.blog__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog__heading h3 {
  color: #fb4b4e;
  font-size: 2.4rem;
  font-weight: 600;
}
.blog__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.blog__box {
  width: 350px;
  background-color: #f7f7f7;
  border: 1px solid #111;
  margin: 20px;
}
.blog__img {
  width: 100%;
  height: auto;
}
.blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog__text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog__text span {
  color: #2541b2;
  font-size: 0.9rem;
}
.blog__title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #111;
  text-decoration: none;
}
.blog__title:hover {
  color: #fb4b4e;
  transition: all ease 0.3s;
}
.blog__text p {
  color: #111;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog__text a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
}
.blog__text a:hover {
  color: #fb4b4e;
  transition: all ease 0.35s;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 24px;
}
.contenedor .articulo {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 25px 0;
  margin-top: 25px;
  margin-bottom: 20px;
  height: 50%;
  width: 100%;
  max-width: 1300px;
  padding-right: 24px;
  padding-left: 24px;
}
.contenedor aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  max-width: 350px;
  padding-left: 24px;
}
.contenedor .card {
  width: 18rem;
  margin: 10px;
  justify-content: center;
}
.contenedor .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contenedor .card-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #111;
  text-decoration: none;
}
.contenedor .card-title:hover {
  color: #fb4b4e;
  transition: all ease 0.3s;
}

@media screen and (max-width: 992px) {
  .contenedor {
    flex-direction: column;
  }
  .articulo, aside {
    width: 100%;
  }
  .aside {
    justify-content: center;
  }
}/*# sourceMappingURL=styles.css.map */