@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.header1 {
  position: fixed;
  background: #f7f7f7;
  height: 70px;
}

header {
  background: #f7f7f7;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0.5rem calc((100vw - 1200px) / 2) !important;
  box-shadow: 0 4px 25px -22px black;
}
header .logo a {
  font-size: 2rem;
  padding-left: 25px;
  font-family: "Bree Serif", serif;
  text-decoration: none;
  color: #111;
}
header nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center !important;
}
header nav ul li a {
  display: flex;
  align-items: center;
  display: inline-block;
  color: #111;
  margin: 0 15px !important;
  border: 3px solid transparent;
  transition: 0.2s;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-size: 17px;
}
header nav ul li a:hover {
  border-bottom-color: #2541b2;
  color: #2541b2;
}
header nav ul #buttons {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #2541b2;
  margin-left: 16px;
  color: #f7f7f7;
  align-items: center;
}
header nav ul #buttons:hover {
  background: #111;
  transition: all 0.3s ease;
}
header .hamburger {
  cursor: pointer;
  display: none;
}
header .hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: black;
  margin-right: 16px;
}

@media only screen and (max-width: 900px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 850px) {
  header .hamburger {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 70px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 30px;
    transition: 0.3s;
    z-index: 10;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li {
    margin: 100px 0;
  }
  header nav ul li a {
    margin: 5px 0;
    font-size: 1.5rem;
  }
  header nav ul li a a:active ~ nav {
    left: 0;
  }
  header #nav_check:checked ~ nav {
    left: 0;
  }
  .header1 nav {
    height: 55vh;
  }
  .header1 nav ul li {
    margin: 50px 0;
  }
}
.footer {
  background-color: #111;
}
.footer__Container {
  width: 100%;
  padding: 70px 30px 20px;
}
.footer__socialIcons {
  display: flex;
  justify-content: center;
}
.footer__socialIcons a {
  text-decoration: none;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 50%;
}
.footer__socialIcons a, .footer i {
  font-size: 1.5em;
  color: #111;
  opacity: 0.9;
}
.footer__socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.footer__socialIcons a:hover i {
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.footer__Nav {
  margin: 30px 0;
}
.footer__Nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer__Nav ul li a {
  color: rgb(255, 255, 255);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footer__Nav ul li a:hover {
  opacity: 1;
}
.footer__Bottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footer__Bottom p {
  color: #f7f7f7;
}
.footer .designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  .footer__Nav ul {
    flex-direction: column;
  }
  .footer__Nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumb Sans", sans-serif;
}

.seccion {
  background-color: rgb(255, 255, 255);
}
.seccion__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 98vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}
@media only screen and (max-width: 768px) {
  .seccion__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.seccion__container--left {
  width: 100%;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  .seccion__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 280px) {
  .seccion__container--left {
    line-height: 1.5;
  }
}
.seccion__container--left h1 {
  font-size: 4rem;
  color: #2541b2;
}
@media screen and (max-width: 280px) {
  .seccion__container--left h1 {
    font-size: 1.5rem;
  }
}
.seccion__container--left h4 {
  font-size: 3rem;
  color: #111;
}
@media screen and (max-width: 280px) {
  .seccion__container--left h4 {
    font-size: 2rem;
  }
}
.seccion__container--left p {
  font-size: 2rem;
  color: #111;
  margin-top: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 280px) {
  .seccion__container--left p {
    font-size: 1.5rem;
  }
}
.seccion__container--btn {
  font-size: 1rem;
  background-color: #2541b2;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}
.seccion__container--btn a {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  text-decoration: none;
  font-weight: bold;
}
.seccion__container--btn i {
  margin-right: 15px;
}
.seccion__container--btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #111;
  transition: all 0.3s;
  border-radius: 4px;
}
.seccion__container--btn:hover:after {
  width: 100%;
}
.seccion__container--right {
  text-align: center;
}
.seccion__container--img {
  height: 100%;
  width: 100%;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  border-bottom: 1px solid black;
}
.blog__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog__heading h3 {
  color: #fb4b4e;
  font-size: 2.4rem;
  font-weight: 600;
}
.blog__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.blog__box {
  width: 350px;
  background-color: #f7f7f7;
  border: 1px solid #111;
  margin: 20px;
}
.blog__img {
  width: 100%;
  height: auto;
}
.blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog__text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog__text span {
  color: #2541b2;
  font-size: 0.9rem;
}
.blog__title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #111;
  text-decoration: none;
}
.blog__title:hover {
  color: #fb4b4e;
  transition: all ease 0.3s;
}
.blog__text p {
  color: #111;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog__text a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
}
.blog__text a:hover {
  color: #fb4b4e;
  transition: all ease 0.35s;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 24px;
}
.contenedor .articulo {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 25px 0;
  margin-top: 25px;
  margin-bottom: 20px;
  height: 50%;
  width: 100%;
  max-width: 1300px;
  padding-right: 24px;
  padding-left: 24px;
}
.contenedor aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  max-width: 350px;
  padding-left: 24px;
  justify-content: center;
}
.contenedor .card {
  width: 18rem;
  margin: 10px;
  justify-content: center;
}
.contenedor .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contenedor .card-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #111;
  text-decoration: none;
}
.contenedor .card-title:hover {
  color: #fb4b4e;
  transition: all ease 0.3s;
}

@media screen and (max-width: 992px) {
  .contenedor {
    flex-direction: column;
  }
  .articulo,
  aside {
    width: 100%;
  }
  .aside {
    justify-content: center;
  }
}
html {
  scroll-behavior: smooth;
}

#inicio {
  background-image: url("../images/Polygon.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#inicio .contenido .presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}
#inicio .contenido .presentacion h2 span {
  font-size: 25px;
  color: #fb4b4e;
}
#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}
#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #f7f7f7;
  border-radius: 50px;
  color: #f7f7f7;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}
#inicio .contenido .presentacion a:hover {
  border: 2px solid #111;
  background-color: #2541b2;
  color: #f7f7f7;
}

#sobremi {
  max-width: 1300px;
  margin: auto;
  padding: 150px 40px;
  color: #111;
  display: flex;
}
#sobremi .contenedor-foto {
  max-width: 500px;
  margin-right: 70px;
}
#sobremi .contenedor-foto img {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f7f7f7;
}
#sobremi .sobremi {
  margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}
#sobremi .sobremi h2 span {
  color: #fb4b4e;
}
#sobremi .sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}
#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #111;
  margin-top: 30px;
  transition: 0.5s;
}
#sobremi .sobremi a:hover {
  color: #f7f7f7;
  background-color: #2541b2;
}

#servicios {
  padding: 100px 15px;
  text-align: center;
  background-color: #f7f7f7;
}
#servicios .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
}
#servicios .fila .servicio {
  max-width: 350px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.5s;
}
#servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 25px;
}
#servicios .fila .servicio .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}
#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #d3d3d3;
  margin-bottom: 25px;
}
#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}
#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

.contenedor-skills {
  background: linear-gradient(rgba(90, 112, 235, 0.8), rgba(33, 16, 16, 0.8)), url("../images/skills.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
  color: #f7f7f7;
}
.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}
.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}
.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #f7f7f7;
}
.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}
.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 6px;
  animation: progreso1 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 6px;
  animation: progreso4 2s forwards;
}
@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

#portafolio {
  max-width: 1300px;
  padding: 100px 0;
  margin: auto;
}
#portafolio .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#portafolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
#portafolio .fila .proyecto {
  max-width: 450px;
  border: 1px solid #111;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
#portafolio .fila .proyecto img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
#portafolio .fila .proyecto .info {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fb4b4e;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}
#portafolio .fila .proyecto .info a {
  text-decoration: none;
  color: #fb4b4e;
}
#portafolio .fila .proyecto:hover img {
  filter: grayscale(0);
}
#portafolio .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}

#contacto {
  padding: 90px 15px;
}
#contacto .titulo-seccion {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
}
#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}
#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}
#contacto .contenedor-form .mitad input {
  width: 48%;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #d3d3d3;
}
#contacto .contenedor-form .input-full {
  width: 100%;
}
#contacto .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
}
#contacto .btn-enviar:hover {
  background-color: #2541b2;
  color: #f7f7f7;
}

@media screen and (max-width: 800px) {
  #inicio .contenido .presentacion h2 {
    font-size: 40px;
  }
  #sobremi {
    padding: 50px 0;
    display: block;
  }
  #sobremi .contenedor-foto {
    max-width: 200px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
    padding: 8px;
  }
  #sobremi .sobremi .titulo-seccion {
    text-align: center;
  }
  #sobremi .sobremi h2 {
    font-size: 25px;
    text-align: center;
  }
  #servicios {
    padding: 50px 15px;
  }
  #servicios .fila {
    display: block;
  }
  #servicios .fila .servicio {
    margin: 10px auto;
  }
  .contenedor-skills {
    padding: 50px 20px;
  }
  #portafolio {
    padding: 50px 0px;
  }
  #portafolio .fila {
    display: block;
  }
  #portafolio .fila .proyecto {
    margin: 10px auto;
  }
  #contacto {
    padding: 50px 15px;
  }
  #contacto .contenedor-form .mitad {
    margin-bottom: 15px;
    display: block;
  }
  #contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=styles.css.map */